<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{sample/layout}">
    <head>
        <title>ヘッダー</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <nav layout:fragment="header" class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
            <div class="container-field">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">SpringSample</a>
                </div>
            </div>
        </nav>
    </body>
</html>