@charset "UTF-8"; 
html {
	height:98%;
	width: 99%;
}

body {
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	overflow-wrap:break-word;
	position:relative;
}

header{
	font-family:  "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight:bold;
    display: block;
    width:100%;
	color: #FFFFFF;
	background-color: #000000;
	padding: 5px;
    overflow: hidden;
}

li {
	margin-left:0px;
	list-style-type: none;
}

input[readonly="readonly"] {
	background-color: lightgray;
	color: gray;
}

.error-form {
	border : solid 2px red
}

.error-input {
	color: #630015;
	background-color: #ffd9e1;
}