@charset "UTF-8"; 
.menu {
	width: 140px;
	height: 100%;
	float: left;
	border-right: 1px solid gray;
	text-align: center;
	padding-right: 1px;
}

.menu div {
	padding: 20px 0 20px 0;
	width: 100%;
}

.menu div:first-child {
	padding: 30px 0 20px 0;
}

.menu div.selected {
	background-color: lightgreen;
}

.menu div.hover {
	background-color: #dbffdb;
	cursor: pointer;
}

.menu button {
	width: 100px;
	padding: 5px 0 5px 0;
}