<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My家計簿</title>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}">
        <link type="text/css" rel="stylesheet" th:href="@{/css/menu.css}">
    </head>
    <body>
        <header></header>
        <main>
            <div class="menu">
                <p>メニュー</p>
                <div><button class="kakeibo">家計簿</button></div>
                <div><button class="logout" onclick="logout()">ログアウト</button></div>
                <div><button class="logout" onclick="logout()">ログアウト</button></div>
                <div><button class="logout" onclick="logout()">ログアウト</button></div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>